{% extends 'flatpages/default.html' %}


{% block title %}
Categories
{% endblock title %}

{% block content %}

{% csrf_token %}

<h1>Новости категории</h1>

<table>
{% for news in news_list %}
    <li>{{ news.title_post }}</li>
    <li>{{ news.text_post }}</li>
{% empty %}
    <li>Нет доступных новостей.</li>
{% endfor %}
</table>

{% if user in category.subscribers.all %}
    <p>Вы подписаны на эту категорию.</p>
{% else %}
    <button><a href="{% url 'appointment_form:subscribe' categorydetail.id %}">Подписаться</a></button>
{% endif %}

{% endblock content %}