<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Еженедельная рассылка.</title>
</head>
<body>
    <h2>Новости за последнюю неделю: </h2>
    <li>
        {% for category in categories %}
            <a>{{ category }}</a>
            {% for p in post %}
                    <a href="{{ link }}{{ p.get_absolute_url }}">{{ p.title_post }}</a>
                    <p>{{ p.text_post|truncatechars:20 }}</p>
            {% endfor %}
        {% endfor %}
    </li>
</body>
</html>