{% extends 'flatpages/default.html' %}

{% block title %}
Account
{% endblock title %}

{% block content %}
<div><p>Страница пользователя {{request.user.username}}</p></div>
<div>
    <p>{{request.user.email}}</p>
    <p>{{request.user.first_name}} {{request.user.last_name}}</p>
</div>

{% if is_not_authors %}
<div>
    <button><a href="sign/upgrade/"> Хочу стать автором.</a></button>
</div>
{% endif %}

<div>
    <button><a href="/post/appointment/">Оставить заявку!</a></button>
</div>

<div>
    <button><a href="/post/news/create/">Создать новость!</a></button>
    <button><a href="/post/post/create/">Создать пост!</a></button>
</div>

<div>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Выйти">
    </form>
</div>

{% endblock %}